RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^todo/complete$ controllers/todo_controller.php?completed=Y [L]
RewriteRule ^todo/incomplete$ controllers/todo_controller.php?completed=N [L]
RewriteRule ^todo/([0-9]+)$ controllers/todo_controller.php?id=$1 [L]
RewriteRule ^todo/page/([0-9]+)$ controllers/todo_controller.php?page=$1 [L]
RewriteRule ^todo$ controllers/todo_controller.php [L]