These are the requirements for the TODO API

1) Return a JSON response for all APIs and allow caching where appropriate.
2) A task has the following properties: ID, title, description, deadline, date, completion status.
3) /tasks => returns a list of details for all tasks for a user.
4) /tasks/page/{:page} => returns a list of details for all tasks for a user with pagination.
5) /tasks/{:taskid} => returns a list of details for a single task for a user.
6) /tasks/incomplete => returns a list of details for all incomplete tasks for a user.
7) /tasks/complete => returns a list of details for all complete tasks for a user.
8) /tasks/{:taskid} => (DELETE) deletes a task for a user.
9) /tasks/{:taskid} => (PATCH) update the title, description, deadline date, or completion status  and return an updated
    task.
10) /tasks => (POST) create a new task and return the details for the new task.